<div class="list_item js-list_item" data-id="{{ id }}">
    <div class="image_container">
        <img class="item_icon js-item_icon" src="{{ image }}" alt="">
    </div>
    <p class="item_name js-item_name">{{ name }}</p>
</div>