
$main_color: rgba(223, 223, 223, 0.007);
$secondary_color: #4B1248;
$accent_color: rgb(95, 250, 95);
$pastel_green: #4ec44e;
$pastel_red: #ff716a;


$gradient_1 : rgb(92, 28, 89);
$gradient_2 : rgb(75, 3, 72);