
div.side_menu
{
    height: 100vh;
    width: 20vw;
    position: fixed;
    right: 0;
    top: 0;
    background-color: $secondary_color;
    transform: translateX(100%);
    transition: 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 50px;
    overflow: scroll;
    z-index: 1;

    //______________
    &.open
    {
        transform: translateX(0%);
        transition: 0.5s ease-in-out;
    }
    &::after
	{
        position: sticky;
		bottom: 0;
        margin-top: 50px;
        content:" ";	
    }
    //_________________________________
    
    div.list_item
    {
        display: flex;
        align-items: center;
        width: 100%;
        cursor: pointer;
        user-select: none;
        padding: 10px 0;
        transition: 1s ease-in-out;
        //_______________________________
        div.image_container
        {
            width: 50px;
            margin-left: 25px;
            //
            img
            {
                width: 25px;
                height: 25px;
            }
        }
    }               
    
}


div.button_container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 5vh;
    user-select: none;
    cursor: pointer;
    position: fixed;
    z-index: 2;
    //_______________________
    p 
    {
        position: relative;
     
    }
    div.menu_button
    {
        width: 30px;
        height: 30px;     
        border-radius: 5%;
        border:2px solid $accent_color;  
        transition: 0.5s ease-in-out;
        top: 5vh;
        transform: rotateZ(0deg);
        position: absolute;
        
        //________________________________
        &.open
        {   
            border-radius: 50%;
            border: none;
            background-color: $accent_color;
            transform: rotateZ(180deg);     
        }
    }
}


@media all and (max-width : 1536px) {

    div.side_menu
    {
        width: 25vw;
        div.list_item
        {
            //_______________________________
            div.image_container
            {
                margin-left: 35px;
            }
            p 
            {
                font-size: 110%;
            }

        }
    
    }
}


@media all and (max-width : 980px) {
    
    div.button_container {
        
        margin-bottom: 5vh;
        margin-top: 2.5vh;
        position: inherit;
        height: 70px;

        div.menu_button {
            position: inherit;
        }

        p {
            bottom: -10px;
        }
    }
    div.side_menu
    {
        width: 40vw;
    }
}

@media all and (max-width : 768px) {

    p {
        bottom: -20px;
    }

    div.side_menu
    {
        width: 100vw;
        padding-top: 100px;
    }
    div.button_container {

        z-index: 2;
        margin-bottom: 0;
        p {
            display: none;
        }
    }
}
