div.votes
{
    width: 100%;
    margin-top: 15px;
    height: 50px;
    display: flex;
    //___________________
    div.upvotes
    {
        height: 100%;
        background-color: $pastel_green;
        width: 50%;
        transition: 500ms ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        p
        {
            overflow: hidden;
            text-overflow: ellipsis;
        }
        
    }
    div.downvotes
    {
        height: 100%;
        background-color: $pastel_red;
        width: 50%;
        transition: 500ms ease-in-out; 
        display: flex;
        align-items: center;
        justify-content: center;
        //_______________________
        p
        {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}