body
{
    background-color : $main_color;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    line-height: 1.2;
    overflow: hidden;
    //____________________
    a
    {
        color: $accent_color;
    }
}

span.line
{
    width: 80%;
    height: 2px;
    background-color: $accent_color;
    margin-top: 25vh;
}

div.allCurrency-container
{
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    margin: auto;
    width: 90%;
    //________________________
    div.currency_infos
    {
        font-size: 105%;
        margin-left: 50px;
        width: 50%;
        //__________
        
    }
    //
    div.currency-container
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 150%;
        border-radius: 2%;
        padding: 15px;
        width: 20%;
        background-color: $secondary_color;
        user-select: none;
        //_________________________________
        img
        { 
            height: 100px;
            width: 100px;
        }
        //
        p
        {
            margin-top: 20px;
            //________________
            &.price
            {
                margin-top: 0;
            }
           
            &.shortname
            {
                text-transform:uppercase ;
                font-weight: 700;
            }
        }
        // 
        div.price_container
        {
            display: flex;
            align-items: center;
            margin-top: 20px;
            justify-content: center;
            //_____________________________
            div.triangle
            {
                width: 0;
                height: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                margin-left: 50px;
                position: absolute;
                //___________________________
                &.up
                { border-bottom: 10px solid $pastel_green }
    
                &.down
                { border-top: 10px solid $pastel_red }
            }
        }
    }
}

	
form    
{
    display: flex;
    align-items: center;
    justify-content: center;
    //_____________________
    input
    {
        border: none;
        margin-top: 80px;
        padding-top: 20px;
        width: 80%;
        height: 100px;
        color: #e8e8e8;
        background-color: transparent;
        font-weight: 500;
        font-size: 60px;
        font-weight: 700;
        border: none;
        //____________________________
        &::placeholder
        {
            color: $secondary_color;
            font-weight: 500;
            font-size: 60px;
            bottom: 0;
            position: relative;
            font-weight: 700;
        }
        //
        &:focus
        {
            outline:none;
        }   
    }
}


