body
{
    background: $gradient_1;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, $gradient_1, $gradient_2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, $gradient_1, $gradient_2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color : white;
    font-family: 'Baloo 2', cursive;
    font-weight: 400;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    line-height: 1.2;
    overflow: hidden;
    //____________________
}

span.line
{
    width: 80%;
    height: 2px;
    background-color: $accent_color;
    margin-top: 25vh;
}

span.green
{ color: $pastel_green; }
span.red 
{ color: $pastel_red; }

div.all_infos_container
{
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    align-items: center;
    margin: auto;
    width: 90%;
    //________________________
    
    div.currency_infos
    {
        font-size: 105%;
        margin-left: 50px;
        width: 50%;
        //__________
        >p:not(:first-of-type)
        {
            margin-top: 20px;
        }
        //
    }
    div.infos_container
    {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 70%;
    }
    p.feeling 
    {
        margin-top: 20%;
    }
    //
    div.currency_container
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 150%;
        border-radius: 2%;
        padding: 15px;
        width: 20%;
        background-color: rgba(255, 255, 255, 0.100);
        user-select: none;
        margin-bottom: 0;
        
        //_________________________________
        img
        { 
            height: 100px;
            width: 100px;
        }
        //
        p
        {
            margin-top: 20px;
            //________________
            &.price
            {
                margin-top: 0;
            }
           
            &.shortname
            {
                text-transform:uppercase ;
                font-weight: 700;
            }
        }
        // 
        div.price_container
        {
            display: flex;
            align-items: center;
            margin-top: 20px;
            justify-content: center;
            //_____________________________
            div.triangle
            {
                width: 0;
                height: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                margin-left: 10px;
                // position: absolute;
                //___________________________
                &.up
                { border-bottom: 10px solid $pastel_green }
    
                &.down
                { border-top: 10px solid $pastel_red }
            }
        }
    }
}

